<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>VueJs Playground</title>
  </head>
  <body>
    <div id="app" class="">
      <h1 v-bind:title="message" v-on:click="greet()">{{title}}</h1>
      <p v-if="showHello"> Hallo Niklas </p>
      <p v-else>Hallo Tim</p>
      <p>Hallo</p>
      <p>Das ist super geheim, dass werde ich dir niemals verraten. Hahaha xD</p>
      <ul>
        <li v-for="link in links"><a v-bind:href="link.url" target="_blank" >{{link.title}}</a></li>
      </ul>
    </div>
    <script src=".\node_modules\vue\dist\vue.js"></script>
    <script src=".\app.js"></script>
  </body>
</html>
